extends ../baseviews/base_layout

block header-scripts
    title Gulp Demo Website 服务详情页

block body-contents
    include services_banner
    include ../baseviews/base_widgets

    div.am-container
        //- Breadcrumb导航条
        div.am-g.am-padding-vertical-lg
            ol.am-breadcrumb
                li
                    a(href="./") 首页
                li
                    a(href="./service_list.html") 服务
                li.am-active 详情

        //- 通过小部件输出内容
        div.am-g
            div.am-u-12.am-padding-bottom-lg.am-text-center
                span.am-text-xxl.custom-text-shadow-m= data.name
            each widget_content in data.content
                +output_widget(widget_content.widget, widget_content.data)
        
    //- Amaze UI Gotop小部件
    div.am-gotop.am-gotop-fixed(data-am-widget="gotop")
        a.am-icon-arrow-circle-up.am-text-xxl(href="#")

block footer-scripts
    script.
        $(document).ready(function() {
            $("ul.am-topbar-nav li:eq(2)").addClass("am-active");
        });