doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //- Set render engine for 360 browser
        meta(name="renderer", content="webkit")
        //- No Baidu Siteapp
        meta(http-equiv="Cache-Control", content="no-siteapp")
 
        link(rel='shortcut icon', href='./assets/fav/favicon.ico' type='image/x-icon')
        link(rel='icon', href='./assets/fav/favicon.png', type='image/png')
        link(rel='apple-touch-icon', sizes='180x180', href="./assets/fav/favicon.png")
        //- Add to homescreen for Chrome on Android
        meta(name="mobile-web-app-capable", content="yes")
        link(rel="icon", sizes="192x192", href="./assets/fav/favicon.png")
        //- Add to homescreen for Safari on iOS
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="Demo Website")
        link(rel="apple-touch-icon-precomposed", href="./assets/fav/favicon.png")
        //- Tile icon for Win8 (144x144 + tile color)
        meta(name="msapplication-TileImage", content="./assets/fav/favicon.png")
        meta(name="msapplication-TileColor", content="#0e90d2")

        //- common css, corresponding to the dir 'dist/'     
        link(rel="stylesheet", href="./assets/css/amazeui.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")

        block header-scripts
    body.p-0
        block body-contents

        //- JQuery, Amaze UI, FontAwesome... Scripts Begin
        script(src='./assets/js/jquery-3.4.1.min.js')
        script(src='./assets/js/amazeui.min.js')
        //- JQuery, Amaze UI, FontAwesome... Scripts End

        block footer-scripts
