extends baseviews/base_layout

block header-scripts
    title Gulp Demo Website 网站首页

block body-contents
    //- Title
    div.am-g.am-g-fixed.am-center.am-padding-top-lg
        div.am-u-12
            h1
                i.am-link-muted 箴言 Motto
            p.am-kai.am-text-xxl.am-text-center
                strong The quick brown fox jumps over the lazy dog.
                br
                strong 千万不要因为走得太久，而忘记了我们为什么出发。
                br
                strong 千萬不要因為走得太久，而忘記了我們為什麼出發。

    //- News Links Part
    div.am-g.am-g-fixed.am-padding-vertical-lg
        each nitem, index in data.newsjsons
            - 
                end_class = ''
                if(index == data.newsjsons.length-1) {
                    end_class = 'am-u-end'
                }
            div.am-u-12.am-u-md-6(class=end_class)
                strong 
                    a(href=`./${nitem.id}.html`)= nitem.title
                p.am-text-sm.am-link-muted= nitem.datetime
                p.am-text-sm.am-link-muted= nitem.preface

block footer-scripts
