mixin output_widget(widget_name, widget_data)
    if widget_name == 'wid_images'
        +wid_images(widget_data)
    else if widget_name == 'wid_vertical_space'
        +wid_vertical_space(widget_data)

mixin wid_images(widget_data)
    each item in widget_data
        img.am-img-responsive.am-center(src=item)

mixin wid_vertical_space(widget_data)
    div.am-u-12(style=`height: ${widget_data};`)
